<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Page de bienvenue</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style_acceuil.css">
</head>


<body>
  <div id="welcome-message">
    <p>Bienvenue, {{ nom }} !</p>
  </div>

  <div id="create-join-groups">
    <div id="create-group-form">
      <h2>Créer un nouveau groupe</h2>
      <form action="/creer-groupe" method="post">
        <label for="group-name">Nom du groupe :</label>
        <input type="text" id="group-name" name="group-name" required>
        <button type="submit">Créer</button>
      </form>
    </div>
  
    <div id="join-group-form">
      <h2>Rejoindre un groupe</h2>
      <form action="/rejoindre-groupe" method="post">
        <label for="group-name">Identifiant du groupe :</label>
        <input type="text" id="group-name" name="group-name" required>
        <button type="submit">Rejoindre</button>
      </form>
    </div>
  </div>
  
  <div id="user-groups">
    <h2>Groupes de l'utilisateur</h2>
    {% for group in user_groups2 %}
      <a href="/groupe-details?id={{ group.id }}"><button class="group-button">{{ group.name }}</button></a>
    {% endfor %}
  </div>
  
  <div id="logout-button">
    <a href="/deconnexion">Déconnexion</a>
  </div>
  

</body>
</html>
