<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">

  <link rel="stylesheet" type="text/css" href="../static/style_groupe.css">


  <title>Détails du Groupe</title>
   
</head>
<body>
  
  <div id="group-details">
    <h1>Détails du Groupe : {{ group_name }}</h1>
    <h3>Identifiant du groupe: {{ group_id }}</h3>
    <h3>Participants du groupe: {{ user_list }}</h3>

    <div id = calendar-button>
      <a href="/calendrier-groupe?id={{ group_id }}">Voir le calendrier du groupe</a>
    </div>

    <!-- Formulaire de saisie des créneaux -->
      <form id="creneau-form" action="/sauvegarder-creneau" method="post">
        <h2>Ajouter un Créneau</h2>
        <label for="date">Date :</label>
        <input type="text" id="date" name="date" required>
        <label for="heure-debut">Heure de début :</label>
        <input type="text" id="heure-debut" name="heure-debut" required>
        <label for="heure-fin">Heure de fin :</label>
        <input type="text" id="heure-fin" name="heure-fin" required>
        <input type="submit" value="Ajouter Créneau">
      </form>

    
    {% if test_admin == 1 %}
      <div id = delete-button>
        <a href="/supprime-groupe?id={{ group_id }}">Supprimer le groupe</a>
      </div>  
    {% endif %}

    <div id = accueil-button> <a href="/acceuil">Retour à la page d'accueil</a></div>
    

  <!-- Script JavaScript pour activer le datepicker et les time pickers -->
  <script>
    // Activer le datepicker pour le champ de saisie de la date
    $(function() {
      $("#date").datepicker({ dateFormat: "yy-mm-dd" });
    });

    // Activer les time pickers pour les champs de saisie des heures de début et de fin
    $(function() {
      $("#heure-debut, #heure-fin").timepicker({ timeFormat: 'H:i', dropdown: false });
    });
  </script>
</body>
</html>
